.page-header {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}

.header-background {
    position: absolute;
    width: 100%;
    mask-image: linear-gradient(rgba(0,0,0,1) 50%, rgba(0,0,0,.5) 60%, rgba(0,0,0,0));
    z-index: 0;
    pointer-events: none; 
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: calc(100% - 20px);
    min-height: 40vw;
    padding: 10px;
    color: white;
}

.header-content * {
    z-index: 1;
}

.profile {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 4;
}

.profile-picture {
    width: 15vw;
    border: 5px solid white;
    border-radius: 50%;
}

.profile h1, .profile h4 {
    text-align: center;
}

.about-section {
    flex: 6;
    margin: auto 10vw auto 5vw;
}

.about-section p {
    font-size: 1.3rem;
}