.nav-container {
    font-family: 'Montserrat', sans-serif;
    position: sticky;
    top: 0;
    background-color: black;
    padding: 0 10vw 0 10vw;
    z-index: 0;
}

.navigation {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.navigation a {
    margin: 10px 10px;
    padding: .5rem 1rem;
    background-color: white;
    color: black;
    text-decoration: none;
    height: max-content;
    border-radius: 1rem;
}
