body {
    margin: 0;
    padding: 0;
    background: transparent url("../images/portfolioBackground.png") repeat;
    background-size: 50vw;
}

* {
    margin-bottom: 0;
}

:not(* + *) {
    margin-top: 0;
}

.page-wrapper {
    margin: 0 10vw;
}