.wdiwtb {
    font-family: 'Montserrat', sans-serif;  
}

.wdiwtb header h1 {
    margin: 60px 0 30px 0;
    text-align: center;
}

.wdiwtb > .content {
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 30px 40px 5px rgba(192,192,192,.4);
}

.wdiwtb > .content section header {
    padding: 1rem;
}

.wdiwtb > .content section:nth-of-type(1) header {
    border-radius: 25px 25px 0 0;
}

.wdiwtb > .content section header h2 {
    text-align: center;
    color: white;
}

.wdiwtb > .content section .content {
    padding: 1rem;
}